<!DOCTYPE html>
<html lang="en">

<head>
    <script src="addProduct.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    table, td {
      border: 1px solid black;
    }
    </style>
<body>
    <title> addProduct</title>
    <div class="main">
        <h1>Opret en vare</h1>
        <p class="addProduct">Tilføj en vare ved at udfylde felterne</p>
        <form id="products">
        <input class="product" placeholder="Vare" id="product">
        <input class="price" placeholder="Pris" id="price">
        <select name="category" id="category">
            <option value="Borde">Borde</option>
            <option value="Stole">Stole</option>
            <option value="Kopper">Kopper</option>
            <option value="Kander">Kander</option>
        </select>
        <input class="picture" id="picture" type="file" accept="image/*">
        <br><br>
        <input type="submit" value="Tilføj">
        </form>
        <p>Vil du fjerne din vare? Klik på knappen nedenfor:</p>
        <form id="delete">
            <input value="Slet vare" type="submit">
        </form>
        <br>
        <p>Her kan du se alle varer til salg:</p>
        <table id="varer">
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
                <th>Kategori</th>
                <th>Billede</th>
                <th>Opdater vare</th>
            </tr>
        </table>
        <p>Klik på knappen nedenfor, hvis du ønsker at vende tilbage til login siden:</p>
        <a href="index.html"> Hjem</a>

    <form id="delete">
      <input value="Delete" type="submit" />
    </form>

</body>

</html>