<html>
  <head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center2"></div>
    <center> <h1>Din profil på Mit Marked!</h1> <center>
    <center> <form id="delete">
      <input value="Slet bruger" type="submit" />
    </form>
    <form id="logoutUser">
      <button  type="button" onclick="location.href='addProduct.html';"> Opret vare</button>
        <input value="Log ud" type="submit">
        <button type="button" id="opdater" value="Opdater bruger"> Opdater bruger</button>
    </center>
  </div>
      </body>
    </form>
  </body>
</html>
