<!DOCTYPE html>
<html lang="en">

<head>
    <script src="showCategory.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="center4"></div>
    <title>Show category</title>
    <div class="main">
        <center><h1>Viser varer i samme kategori</h1></center>
    <center>  <form id="showProducts">
        <select name="category" id="category">
            <option value="Borde">Borde</option>
            <option value="Stole">Stole</option>
            <option value="Kopper">Kopper</option>
            <option value="Kander">Kander</option>
        </select>
        <br>
        <input type="submit" value="Nustil søgning">
        </form>
        <br>
        <table border="1" id="varer">
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
                <th>Kategori</th>
                <th>Billede</th>
            </tr>
            <!--// populated automatically //-->
        </table>
        <p class="Hjem">Klik<a href="index.html"> her! </a> for at vende hjem. </p>
    </center>
    </div>

</body>

</html>