<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater varer detaljer</title>
</head>
<body>
    <div class="center4"></div>
    <center><h1>Opdater dine varer her</h1></center>
<center><form id="update-products">
        Vare: <input type="text" name="product" id="product" value=""><br>
        Pris: <input type="text" name="price" id="price" value="">
        Kategori: <input type="text" name="category" id="category" value="" />
        <br>
            <br>
        <input type="submit" value="Opdater vare">
    </form>
   </center>
  </div>
    <script src="updateProduct.js"></script>
    <link rel="stylesheet" href="style.css">
</body>
</html>