<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../view/index.html"></script>
    <script src="updateUser.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Opdater din bruger</h1>
    <label id="form">Email: </label> 
    <input type="email" name="email" id="newEmail" placeholder="Skriv din nye email">
    <label>Password:</label>
    <input type="password" name="password" id="newPassword" placeholder="Skriv dit nye password">
    <button id="update" value="Submit" type="submit" onclick="updateUser()" class="profile-btn"> Opdater</button>
</body>
</html>