<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater varer detaljer</title>
</head>
<body>
    <form id="update-products">
        Product: <input type="text" name="product" id="product" value=""><br>
        Price: <input type="text" name="price" id="price" value="">
        <br>
            <br>
        <input type="submit">
    </form>
    <script src="updateProduct.js"></script>

</body>
</html>